<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <style>
    table {
      page-break-inside: avoid;
    }
    h2,
    h3,
    h4 {
      page-break-after: avoid;
    }
    .page-break {
      page-break-before: always;
    }
  </style>
  <body>
    <article style="height: auto !important; margin: 2cm">
      <p>&nbsp;</p>
      <p style="text-align: center">
        <strong>CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</strong>
      </p>
      <p style="text-align: center">
        <strong>Độc Lập - Tự Do - Hạnh Phúc</strong>
      </p>
      <p style="text-align: right">(Địa điểm), ngày ... tháng ... năm 202x</p>
      <p>&nbsp;</p>
      <p style="text-align: center"><strong>HỢP ĐỒNG THUÊ </strong></p>
      <p style="text-align: center">
        <strong>HOMESTAY / RESORT / VILLA KHU NGHỈ DƯỠNG&nbsp;</strong>
      </p>
      <p>
        - Căn cứ theo Bộ luật dân sự số 91/2015/QH13 được Quốc Hội ban hành ngày
        24 tháng 11 năm 2015;
      </p>
      <p>- Căn cứ theo Luật Thương mại 2005;</p>
      <p>- Căn cứ vào nhu cầu và khả năng thực tế của hai bên.</p>
      <p>
        Hôm nay, ngày ... tháng ... năm 202x, chúng tôi bao gồm bên cho thuê
        (sau đây gọi tắt là bên A) và bên thuê (sau đây gọi tắt là bên B) đã
        thống nhất các thỏa thuận và ký kết với nhau về các điều khoản có trong
        hợp đồng sau:
      </p>
      <div class="ads-label text-center">
        <script type="text/javascript">
          (function () {
            const isWideScreen = window.innerWidth > 1000;
            const scriptTag = document.currentScript;
            const createBlock = (divId, scriptSrc) => {
              const div = document.createElement('div');
              div.id = divId;
              const script = document.createElement('script');
              script.src = scriptSrc;
              script.async = true;
              scriptTag.parentNode.insertBefore(div, scriptTag.nextSibling);
              scriptTag.parentNode.insertBefore(script, div.nextSibling);
            };
            if (isWideScreen) {
              createBlock(
                'pcinreadluatminhkhuevn-UQELtGfoEw',
                'https://server.zmedia.vn/static/zmedia.vn/188927251/pcinreadluatminhkhuevn-UQELtGfoEw.js?force=',
              );
            } else {
              createBlock(
                'mbinreadluatminhkhuevn-ZYDNMvGDiW',
                'https://server.zmedia.vn/static/zmedia.vn/188927253/mbinreadluatminhkhuevn-ZYDNMvGDiW.js?force=',
              );
            }
          })();
        </script>
        <div id="pcinreadluatminhkhuevn-UQELtGfoEw">
          <script type="application/javascript">
            (function (w, d, p, c) {
              var r = 'ptag',
                o = 'script',
                s = function (u) {
                  var a = d.createElement(o),
                    m = d.getElementsByTagName(o)[0];
                  a.async = 1;
                  a.src = u;
                  m.parentNode.insertBefore(a, m);
                };
              w[r] =
                w[r] ||
                function () {
                  (w[r].q = w[r].q || []).push(arguments);
                };
              s(p);
              s(c);
            })(
              window,
              document,
              '//tag.adbro.me/tags/ptag.js',
              '//tag.adbro.me/configs/gdx0wl9l.js',
            );
          </script>

          <script type="text/javascript">
            /* load placement: luatminhkhue_inread-video, for account: Zmedia B, site: luatminhkhue.vn, size: 2x2 - video */
            var _avlVar = _avlVar || [];
            _avlVar.push([
              'a6dc13ceb8f44386bb543d6803ae236b',
              '[yo_page_url]',
              '[width]',
              '[height]',
            ]);
          </script>
          <script
            type="text/javascript"
            src="//ss.yomedia.vn/js/yomedia-sdk.js?v=3"
            id="s-a6dc13ceb8f44386bb543d6803ae236b"
            async=""
          ></script>
          <script
            type="text/javascript"
            src="https://delivery.yomedia.vn/delivery?pid=a6dc13ceb8f44386bb543d6803ae236b&amp;ref=https%3A%2F%2Fluatminhkhue.vn%2Fmau-hop-dong-thue-homestay-khu-nghi-duong.aspx&amp;sw=1470&amp;sh=956&amp;scd=30&amp;spd=30&amp;bl=ZW4tVVM%3D&amp;u4=1751946340538"
            async="true"
            id="yo-dl-a6dc13ceb8f44386bb543d6803ae236b"
          ></script>
        </div>
        <script
          src="https://server.zmedia.vn/static/zmedia.vn/188927251/pcinreadluatminhkhuevn-UQELtGfoEw.js?force="
          async=""
        ></script>
      </div>
      <p>- Bên A: Bên cho thuê.</p>
      <p>+ Họ và tên: ....</p>
      <p>+ Sinh ngày: ... / ... / ...</p>
      <p>
        + Số chứng minh nhân dân hoặc căn cước công dân: .....&nbsp; &nbsp;
        &nbsp; Cấp ngày: ... / ... / ...&nbsp; &nbsp; Tại: ....
      </p>
      <p>+ Địa chỉ thường trú: ...</p>
      <p>+ Điện thoại: ...</p>
      <p>- Bên B: Bên thuê</p>
      <p>+ Họ và tên: ...</p>
      <p>+ Sinh ngày: ... / ... / ...</p>
      <p>
        + Số chứng minh nhân dân hoặc căn cước công dân: .....&nbsp; &nbsp;
        &nbsp; Cấp ngày: ... / ... / ...&nbsp; Tại: ....
      </p>
      <p>+ Địa chỉ thường trú: ...</p>
      <p>+ Điện thoại: ...</p>
      <p>Trường hợp nếu có một bên là pháp nhân thì ghi thông tin như sau:</p>
      <p>- Bên A/B: Bên cho thuê / Bên thuê</p>
      <p>+ Địa chỉ trụ sở: ....</p>
      <p>+ Mã số thuế: ....</p>
      <p>
        + Hotline: .....&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;Số Fax (nếu có): ...
      </p>
      <p>+ Người đại diện theo pháp luật: Ông/bà: ... Chức vụ: ....</p>
      <p>+ Số điện thoại liên hệ: ...</p>
      <p>Cùng thống nhất các điều khoản sau đây:&nbsp;</p>
      <p>Điều 1: Đối tượng của hợp đồng.</p>
      <p>
        - Bên A đồng ý cho bên B thuê homestay (resort / villa khu nghỉ
        dưỡng)&nbsp;... từ ngày ... tháng ... năm 202x đến ngày ... tháng ...
        năm 202x.
      </p>
      <p>
        - Các thông tin cụ thể của homestay (resort / villa khu nghỉ dưỡng) như
        sau:
      </p>
      <p>+ Loại dịch vụ: ...</p>
      <p>+ Địa chỉ: ...</p>
      <p>
        + Các thông tin khác về đối tượng nếu có như tổng diện tích sử dụng, các
        trang thiết bị trong nhà (nếu có), ...
      </p>
      <p>Điều 2: Giá cho thuê và phương thức thanh toán.</p>
      <p>2.1. Giá cho thuê.</p>
      <p>- Giá cho thuê là .... đồng (viết bằng chữ).</p>
      <p>
        - Các chi phí sử dụng điện, nước, điện thoại và các dịch vụ khác do bên
        cho thuê thanh toán dựa theo hệ số sử dụng thực tế của bên thuê và bên
        thuê phải thanh toán chi phí này ngay sau khi hợp đồng chấm dứt.
      </p>
      <p>
        - Giá cho thuê này đã bao gồm các chi phí bảo trì, quản lý vận hành nhà
        ở và các khoản thuế mà bên cho thuê phải nộp cho Nhà nước theo quy định
        của pháp luật.
      </p>
      <p>2.2. Giá dịch vụ thuê.</p>
      <p>
        Trong thời hạn hợp đồng còn hiệu lực nếu bên B có nhu cầu thuê các dịch vụ 
        được cung cấp bởi bên A thì bên B phải có trách nhiệm thanh toán đầy đủ. 
        Dưới đây là bảng dịch vụ mà bên B đã thuê:
      </p>
      <table border="1" style="width: 100%; border-collapse: collapse">
        <thead>
          <tr>
            <th style="text-align: center; padding: 8px;">STT</th>
            <th style="text-align: center; padding: 8px;">Tên dịch vụ</th>
            <th style="text-align: center; padding: 8px;">Đơn giá</th>
            <th style="text-align: center; padding: 8px;">Số lượng</th>
            <th style="text-align: center; padding: 8px;">Ngày bắt đầu</th>
            <th style="text-align: center; padding: 8px;">Ngày kết thúc</th>
            <th style="text-align: center; padding: 8px;">Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center; padding: 8px;">1</td>
            <td style="text-align: center; padding: 8px;">Massage</td>
            <td style="text-align: center; padding: 8px;">$20.00</td>
            <td style="text-align: center; padding: 8px;">1</td>
            <td style="text-align: center; padding: 8px;">10-01-2025</td>
            <td style="text-align: center; padding: 8px;">20-01-2025</td>
            <td style="text-align: center; padding: 8px;">$200.00</td>
          </tr>
          <tr>
            <td colspan="6" style="text-align: center; padding: 8px; font-weight: bold;">Tổng cộng</td>
            <td style="text-align: center; padding: 8px; font-weight: bold;">$<%= locals.totalBookedServicePrice %></td>
          </tr>
        </tbody>
      </table>


      <p>2.3. Lịch sử đổi phòng</p>
      <p>
        Trong thời gian hơp đồng còn hiệu lực, nếu phòng mà bên B đang thuê gặp sự cố hoặc bảo trì thì bên A phải có trách nhiệm đổi phòng cho bên B.
        Dưới đây là lịch sử đổi phòng của bên B:
      </p>
      <table border="1" style="width: 100%; border-collapse: collapse">
        <thead>
          <tr>
            <th style="text-align: center; padding: 8px;">STT</th>
            <th style="text-align: center; padding: 8px;">Từ phòng</th>
            <th style="text-align: center; padding: 8px;">Đến phòng</th>
            <th style="text-align: center; padding: 8px;">Ngày đổi</th>
            <th style="text-align: center; padding: 8px;">Khoảng thời gian đã ở</th>
            <th style="text-align: center; padding: 8px;">Lý do đổi</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center; padding: 8px;">1</td>
            <td style="text-align: center; padding: 8px;">NA001</td>
            <td style="text-align: center; padding: 8px;">NA002</td>
            <td style="text-align: center; padding: 8px;">12-10-2025</td>
            <td style="text-align: center; padding: 8px;">Từ 12-10-2025 đến 15-10-2025</td>
            <td style="text-align: center; padding: 8px;">Bảo trì</td>
          </tr>
        </tbody>
      </table>


      <p>2.3. Phương thức thanh toán.&nbsp;</p>
      <p>
        - Bên B có trách nhiệm thanh toán số tiền theo nội dung hợp đồng bằng
        đồng Việt Nam có thể thanh toán thông qua phương thức chi trả là bằng
        tiền mặt hoặc chuyển khoản qua tài khoản ngân hàng có ghi rõ nội dung
        chuyển khoản.
      </p>
      <p>
        - Thời hạn thanh toán: bên B thanh toán tiền cho bên A vào ngày ...
        tháng ... năm 202x.&nbsp;
      </p>
      <p>
        Điều 3: Thời điểm giao nhận đối tượng thuê vào lúc 14h00 phút ngày ...
        tháng ... năm 202x.
      </p>
      <p>Điều 4: Quyền và nghĩa vụ của Bên cho thuê.</p>
      <p>
        - Yêu cầu Bên thuê thanh toán đầy đủ số tiền thuê theo đúng hợp đồng đã
        ký kết.
      </p>
      <p>
        - Yêu cầu Bên thuê có trách nhiệm sửa chữa các hư hỏng và bồi thường
        thiệt hại do lỗi của Bên thuê gây ra (nếu có).
      </p>
      <p>
        - Yêu cầu Bên thuê bàn giao và hoàn trả các tài sản liên quan sau khi
        chấm dứt hợp đồng thuê.
      </p>
      <p>- Bảo trì và cải tạo nhà ở.</p>
      <p>
        - Giao nhà ở và các trang thiết bị gắn liền với nhà ở (nếu có) cho Bên
        thuê đúng thời gian theo quy định tại&nbsp;Điều 3 của hợp đồng này.
      </p>
      <p>
        - Thông báo cho Bên thuê biết các quy định của pháp luật và nội quy, quy
        định sử dụng (nếu có).
      </p>
      <p>
        - Đảm bảo cho Bên thuê được sử dụng ổn định cho đến khi hết thời gian
        cho thuê.
      </p>
      <p>
        - Trả lại số tiền thuê nhà mà Bên thuê đã trả trước trong trường hợp các
        bên thỏa thuận chấm dứt hợp đồng thuê nhà ở trước thời hạn.
      </p>
      <p>
        - Bảo trì, quản lý nhà ở cho thuê theo quy định của pháp luật về quản lý
        sử dụng nhà ở.
      </p>
      <p>Điều 5: Quyền và nghĩa vụ của Bên thuê.</p>
      <p>
        - Nhận nhà ở và trang thiết bị gắn liền với nhà ở (nếu có) theo đúng
        thỏa thuận tại Điều 3 của hợp đồng này.&nbsp;
      </p>
      <p>- Yêu cầu Bên cho thuê kịp thời sửa chữa những hư hỏng nếu có.</p>
      <p>
        - Yêu cầu bên cho thuê trả lại số tiền thuê mà Bên thuê đã nộp trước
        trong trường hợp chấm dứt hợp đồng thuê trước thời hạn.
      </p>
      <p>
        - Thanh toán đủ tiền thuê theo đúng thời hạn đã cam kết trong hợp đồng
        này.
      </p>
      <p>- Chấp hành đầy đủ các quy định về quản lý sử dụng nhà ở.</p>
      <p>
        - Không được chuyển nhượng hợp đồng thuê cho người khác thuê lại trừ
        trường hợp bên cho thuê đồng ý.
      </p>
      <p>
        - Chấp hành các quy định về giữ gìn vệ sinh môi trường và an ninh theo
        quy định của pháp luật và quy định của khu vực.
      </p>
      <p>Điều 6: Cam kết chung.</p>
      <p>
        - Bên cho thuê cam kết đối tượng cho thuê thuộc quyền sở hữu hợp pháp
        của mình, không có tranh chấp, không bị kê biên để đảm bảo thi hành án.
        Bên cho thuê cũng cam kết về chất lượng, an toàn của công trình.
      </p>
      <p>
        - Hai bên đã tìm hiểu kỹ thông tin của nhau, bên thuê đã tìm hiểu kỹ về
        thông tin về đối tượng thuê.
      </p>
      <p>
        - Việc ký kết hợp đồng này là các bên hoàn toàn tự nguyện, không bị ép
        buộc, lừa dối. Các bên cũng đồng cam kết các thông tin về nhân thân là
        đúng và chịu trách nhiệm về các thông tin đó.
      </p>
      <p>
        - Các bên cùng cam kết thực hiện đúng và đầy đủ các nội dung đã thỏa
        thuận trong hợp đồng.
      </p>
      <p>Điều 7: Hiệu lực của hợp đồng.&nbsp;</p>
      <p>
        - Hợp đồng này có hiệu lực từ ngày ký và sẽ chấm dứt theo quy định của
        hợp đồng và quy định khác của pháp luật.
      </p>
      <p>
        - Hợp đồng làm thành 02 bản có giá trị pháp lý như nhau, mỗi bên giữ 01
        bản./.
      </p>
      <table border="0" cellpadding="1" cellspacing="1" style="width: 100%">
        <tbody>
          <tr>
            <td style="text-align: center"><strong>Bên A</strong></td>
            <td style="text-align: center"><strong>Bên B</strong></td>
          </tr>
          <tr>
            <td style="text-align: center"><em>(Ký và ghi rõ họ tên)</em></td>
            <td style="text-align: center"><em>(Ký và ghi rõ họ tên)</em></td>
          </tr>
          <tr>
            <td style="text-align: center">
              <img
                src="http://localhost:8080/api/v1/uploads/director-signature.png"
                alt="renter-signature"
                style="
                  width: 132px;
                  height: 66px;
                  object-fit: cover;
                  object-position: center;
                  margin: 0 auto;
                "
              />
            </td>
            <td style="text-align: center">
              <!-- <img
                src="http://localhost:8080/api/v1/uploads/director-signature.png"
                alt="renter-signature"
                style="
                  width: 132px;
                  height: 66px;
                  object-fit: cover;
                  object-position: center;
                  margin: 0 auto;
                "
              /> -->
            </td>
          </tr>
          <tr>
            <td style="text-align: center">Nguyễn Duy Huy Hoàng</td>
            <td style="text-align: center">Nguyễn Văn B</td>
          </tr>
        </tbody>
      </table>
      <p>&nbsp;</p>
    </article>
  </body>
</html>
